build/
DerivedData/
*.xcworkspace
!default.xcworkspace
*.xcuserdata/
*.xccheckout
*.moved-aside
*.xcscmblueprint
*.xcuserstate
.build/
Packages/
.swiftpm/
Pods/
Carthage/Build/
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output
.DS_Store
.AppleDouble
.LSOverride
._*
.Spotlight-V100
.Trashes
.VolumeIcon.icns
Icon
._*
*.o
*.LinkFileList
*.hmap
*.ipa
*.swp
*~.nib
*~.plist
timeline.xctimeline
playground.xcworkspace
*.mode1v3
*.mode2v3
*.perspectivev3
xcuserdata/
*.xcuserdatad

